@media (min-width: 320px) and (max-width: 479px){
    #desktop{
        display: none;
    }

    #pag1, #page2{
        display: none;
    }
    #page3{
        margin-top: 20px !important;
        height: auto !important;
        margin-bottom: 20px;
    }

    #page3 .meio .geral, .modalidade, .acomodacao, .coparticipacao, .hospitalares, .valores{
        flex-direction: column;
    }

    #page3 .meio .titulo{
        padding-left: 0;
        padding-top: 5px;
    }

    #page3 .meio .linha{        
        margin-bottom: 15px;
    }
    
    #page3 .meio .geral,.modalidade, .acomodacao, .coparticipacao,.hospitalares{
        height: 80px !important;
    }

   

    #page3 .meio .hospitalares .dropdown{
        position: absolute;
        right: 10%;
        top: 130%;
    }

    #page3 .meio .valores .dropdown{
        position: absolute;
        right: 10%;
        top: 154%;
    }

    #page3 .meio .conteudo{
        margin-bottom: 5px;
    }

    #page3 .meio .acomodacao .conteudo{
        margin-bottom: 15px;
    }

    #page3 .meio .hospitalares .conteudo{
        margin-bottom: 15px;
    }

    #page3 .meio .hospitalares{
        height: 90px !important;
    }

    #page3 .titulo label{
        font-size: 20px;
        font-weight: bold;
    }


    #page3 .linha .conteudo{
        position: inherit;
    }

    #page3 .meio .valores .titulo{
        margin-bottom: 15px;
    }

    #page3 .dados{
        padding: 20px;
    }

    #page3 #opt{
        height: auto;
    }

    #page3 .name span{
        padding: 0;
    }

    #dadoshospitalares{
        background-color: #ffffff !important;
    }

    #mobile{
        flex-direction: column;
        height: auto;
    }

    #mobile .bullets, .info{
        margin-bottom: 20px;
        
    }

   
}


@media (min-width: 480px){
    #mobile{
        display: none;
    }

    #page3 .titulo label{
        font-size: 17px;
        font-weight: bold;
    }

}

#page3{
    display: none;
}

#page3 .page3-header{
    background-color: none !important;
    text-align: center;
    padding: 20px;
}

.conteudo-valor h2{
    color: var(--color-primary);
    font-weight: initial;
    font-size: 30px;
}

.bullets{
    background-color: var(--color-primary);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
    cursor: pointer;
}

.bullets:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#opt, #optmobile{
    display: initial;
    border: 3px solid var(--color-primary);
    border-radius: 10px;
    height: auto;
    background-color: white;
    transition: all 0.5s;
}

.opt1:hover{
    background-color: var(--color-primary);
    cursor: pointer;    
    color: white;
}

.opt1 > .name > span > a{
    text-decoration: none;
    color: #000000;
}

.opt1:hover > .name > span > a{
    color: #ffffff;
}