
@media (min-width: 320px) and (max-width: 479px) {
    .Cards {
        margin: 0 !important;
    }

    .card {
        width: calc(90% / 2) !important;
    }

    .card img {
        width: 79px !important;
        height: 80px !important;
    }
    
    .btn {
        padding: 20px 0px !important;
        height: auto !important;
    }

    .btn > button {
        width: 100% !important;
        height: 100% !important;
    }
}
.Cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.linha-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.coluna-card{
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40); 
    margin: 25px;
    text-align: center;
    transition: all 0.5s;
    width: calc(100% / 3);
    padding: 5px;
}

.coluna-card:hover {
    cursor: pointer;
    box-shadow: 0px 1px 17px rgba(88, 72, 235, 0.781);
}

.card{
    width: calc(90% / 3);
    min-height: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
}

.card img{
    width:  100px;
    height: 100px;
    appearance: none;
    cursor: pointer;    
}

.conteudo-card{
    display: none;
    width: 100%;   
}

.informacoes{
    display: flex;
    flex-direction: column;
}

.informacoes > table {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    padding: 5px;
}

.informacoes > table > th {
    width: 100%;
}

.informacoes input {
    cursor: pointer;
}

.wrapper-card {
    width: 100vw;
}

.btn {
    padding: 20px;
    height: 200px;
}

.btn > button{
    margin: 0 auto;
    display: block;
    width: 35%;
    height: 35%;
    padding: 5px;
    font-size: 13pt;
    background-color: var(--color-primary);
    color: #ffffff;
}

.btn > button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.wrapper-card {
    display: none;
}

#wrapper-comparativo {
    display: none;
}

table {
    background-color:rgba(100, 121, 165, 0.109);
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

td, th {
    text-align: center;
    font-size: 12pt;
    color: #000000;
}

tr:hover {
    background-color: rgb(51, 74, 119);
} 

tr:hover td {
    color: #fff;
}

#btn-1 {
    margin-top: 20px !important;
}
