#wrapperInicial {
    height: 60%;
    width: 100%;
    background: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#wrapperLogo {
    height: 60%;
    width: 100%;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    background: var(--color-primary);
}

#LogoInicial {
    width: 300px;
    height: 70%;
    display: block;
    margin: 20px auto 0;
}

#btnFooter {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background: var(--color-primary);
    position: absolute;
    right: 0;
    margin: 0 15px;
}

#btnImage {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

#wrapperPageInicial {
    height: 100%;
}

.textInicial {
    color: var(--color-primary);
    font-size: 14pt;
    margin: 20px auto;
    text-align: center;
}