@media (min-width: 320px) and (max-width: 479px) {
    .container {
        height: 100vh !important;
    }

    #div-input {
        width: 100% !important;
    }

    .form {
        height: 85% !important;
    }

    .box-meio {
        flex-direction: column !important;
    }

    .box-cidade {
        width: 100% !important;
    }

    .box-cred {
        width: 100% !important;
        margin-top: 30px;
        margin-left: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #select1, #select2 {
        width: 100% !important;
    }

    .box-inferior > button {
        width: 100% !important;
        height: 45px;
    }

    .box-contato{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }

    #modal-content {
        width: 90% !important;
        height: 50% !important;
    }

    .modal-linha {
        height: 25% !important;
    }

    .modal-linha-bloco {
        height: 100% !important;
    }

    .input-range {
        border-radius: 10px !important;
        font-size: 15pt !important;
    }

    .btnmodal {
        margin-top: 30px !important;
    }

    .btnmodal > button {
        width: 100%;
        height: 40px;
    }
}

#PrimeiroConteudo{
    position: fixed;
    top: 0;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

input {
    color: #000;
}

.form{
    box-shadow: 6px 3px 13px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 715px;
    height: 330px;
    border: 1px solid #d4dbe0;
    margin: 50px auto;
    background-color: #fff;
}


#select1, #select2, #select-estado {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--color-primary);
    padding-top: 15px;
    appearance: none;
}

#select1 {
    margin-bottom: 15px;
}

#select-estado {
    display: none;
}

#myModal{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 330px; 
    max-width: 500px;
}
  
  
.modal-linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    height: 25%;
}
  
.modal-linha-bloco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 100%;
    text-align: center;
}
  
.modal-linha-bloco label{
    font-weight: bold;
    padding-bottom: 10px;
}
  
.modal-linha-bloco input{
    border: 1px solid var(--color-primary);
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
}

.box{
    width: 100%;
    padding: 20px;
}

.box-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close {
    cursor: pointer;
}

.box-superior h1{
    font-size: 20px;
    padding-bottom: 5px;
}

.box-superior-direita span{
    font-size: 35px;
}

.box-contato{
    margin-top: 30px;
  
}

.contato-first{
    margin-bottom: 30px;
}

.box-contato, .box-meio h3{
    color: var(--color-primary);
}

.box-contato img{
    width: 30px;
}

.box-contato > #div-input {
    width: 50%;
}

input[type=text] {
    font-size: 11pt;
    border-bottom: 1px solid var(--color-primary);
    transition: all 0.5s;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding-top: 15px;
    appearance: none;
    outline: none;
    box-shadow: 0 0 0 0;
}

input[type=text]:focus {
    background: #1c336224;
    border-radius: 3px;
}

.box-meio{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.box-cidade{
    width: 55%;
}

.box-cidade input{
    width: 100%;
}

.box-cred{
    width: 50%;
    margin-left: 50px;
    padding-right: 20px;
    padding-left: 30px;
}

.box-cred input{
    width: 100%;
}


.box-inferior{
    margin-top: 50px;
    text-align: right;
}

.btnmodal{
    text-align: right;
    margin-top: 30px;
}

#page1{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#PrimeiroConteudo {
    display: none;
}

@media (min-width: 480px){
    .box-contato{
        display: flex;
        flex-direction: row;
    }
    .form{
        height: auto !important;
    }

    .contato-first{
        width: 55%;
    }
    .contato-second{
        width: 50%;
        margin-left: 50px;
        padding-right: 20px;
        padding-left: 35px;
    }
}