@media (min-width: 320px) and (max-width: 479px) {
    #container {
        flex-direction: row !important;
    }

    #search{
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }

    

    #PagSelecao {
        padding: 80px 0 0 0 !important;
        display: block;
        margin: 0 auto;
    }
}

#search{
    overflow: hidden;
}

#search select{
    background-color: transparent;
    border: none;
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#PagSelecao {
    width: 85%;
    height: 100%;
    padding: 50px;
    align-self: flex-end;
}

#PagSelecao > h1 {
    margin-bottom: 5px;
}

hr {
    color: var(--color-primary);
}