#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#PagSelecao {
    width: 85%;
    height: 100%;
    padding: 50px;
    align-self: flex-end;
}

#PagSelecao > h1 {
    margin-bottom: 5px;
}

hr {
    color: var(--color-primary);
}